*{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.start{
    width: 1300px;
    background-color: black;
}
.hello{
    width:600px;
    height: 600px;
    background-color:black;
    margin: auto;
    margin-top:50px;
    position: relative;
}
.a1{
    width: 180px;
    height: 180px;
    background-color: blue;
    border-radius: 100%;
    margin-left: 200px;
    margin-top: 20px;
}
.a2{
    width: 180px;
    height: 250px;
    background-color: blue;
    border-radius: 20px 20px 2px 2px ;
    margin-left: 200px;
}
.a3{
    width: 110px;
    height: 40px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    left: 190px;
    top: 410px;
}
.a4{
    width: 100px;
    height: 40px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    left: 290px;
    top: 410px;
}
.ok{
    display: flex;
    margin-left: 190px;
}
.a5{
    width:3px;
    height: 70px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    left: 293px;
    top: 350px;
}
.a6{
    width:100px;
    height: 60px;
    background-color: white;
    border-radius: 0px 0px 60px 60px;
    position: absolute;
    left: 243px;
    top: 240px;
}
.a7{
    width:100px;
    height: 25px;
    background-color: red;
    border-radius: 15px 15px 15px 15px;
    position: absolute;
    left: 241px;
    top: 163px;
}
.a8{
    width:25px;
    height: 25px;
    background-color: yellow;
    border-radius: 100%;
    position: absolute;
    left: 280px;
    top: 163px;
}
.a9{
    width:60px;
    height: 40px;
    background-color: white;
    border-radius: 0px 0px 60px 60px;
    position: absolute;
    left: 263px;
    top: 110px;
}
.a10{
    width:30px;
    height: 25px;
    background-color:red;
    border-radius: 0px 0px 60px 60px;
    position: absolute;
    left: 278px;
    top: 110px;
}
.a11{
    width:30px;
    height: 15px;
    background-color:red;
    border-radius: 7px 7px 7px 7px;
    position: absolute;
    left: 278px;
    top: 80px;
}
.a12{
    width:30px;
    height: 45px;
    background-color:white;
    border-radius:50%;
    position: absolute;
    left: 242px;
    top: 30px;
}
.a13{
    width:30px;
    height: 45px;
    background-color:white;
    border-radius:50%;
    position: absolute;
    left: 312px;
    top: 30px;
}
.a14{
    width:10px;
    height: 20px;
    background-color:black;
    border-radius:50%;
    position: absolute;
    left: 251px;
    top: 46px;
}
.a15{
    width:10px;
    height: 20px;
    background-color:black;
    border-radius:50%;
    position: absolute;
    left: 322px;
    top: 46px;
}
.a16{
    width:5px;
    height: 8px;
    background-color:white;
    border-radius:50%;
    position: absolute;
    left: 254px;
    top: 54px;
}
.a17{
    width:5px;
    height: 8px;
    background-color:white;
    border-radius:50%;
    position: absolute;
    left: 324px;
    top: 54px;
}
.a18{
    width:40px;
    height: 150px;
    background-color:blue;
    border-radius:15px 5px 15px 15px;
    position: absolute;
    left: 162px;
    top: 200px;
}
.a19{
    width:150px;
    height: 40px;
    background-color:blue;
    border-radius:15px 15px 15px 15px;
    position: absolute;
    left: 344px;
    top: 200px;
}
.a20{
    width:40px;
    height: 40px;
    background-color:white;
    border-radius:100%;
    position: absolute;
    left: 162px;
    top: 319px;
}
.a21{
    width:40px;
    height: 40px;
    background-color:white;
    border-radius:100%;
    position: absolute;
    left: 460px;
    top: 200px;
}

